<div class="alzheimers-info">
    <h2>Why Alzheimer's Awareness is Important</h2>
    <div class="cards-container">
        <div class="cardInfo ">
            <img src="https://angular.hibotheme.com/inba/assets/images/covid/vaccine/vaccine1.png" alt="Build Immunity">
            <h5>Early Detection</h5>
            <p>Detecting Alzheimer's early can lead to better management and improved quality of life.</p>
        </div>
        <div class="cardInfo ">
            <img src="https://angular.hibotheme.com/inba/assets/images/covid/vaccine/vaccine2.png" alt="Strengthen the Body's">
            <h5>Support Systems</h5>
            <p>Raising awareness helps build support systems for patients and caregivers.</p>
        </div>
        <div class="cardInfo ">
            <img src="https://angular.hibotheme.com/inba/assets/images/covid/vaccine/vaccine3.png" alt="Stop Spread of Disease">
            <h5>Research and Funding</h5>
            <p>Increased awareness can lead to more funding for research and potential treatments.</p>
        </div>
        <div class="cardInfo ">
            <img src="https://angular.hibotheme.com/inba/assets/images/covid/vaccine/vaccine4.png" alt="Antibodies Protecting">
            <h5>Reduce Stigma</h5>
            <p>Educating the public helps reduce the stigma associated with Alzheimer's disease.</p>
        </div>
    </div>
</div>