<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="d-flex justify-content-center mt-5">About Us</h1>
      <div class="row justify-content-center mt-5 m-3">
        <div class="col-md-4 imgAboutus">
          <img [src]="DotorImage" alt="doc" class="img-fluid">
        </div>
        <div class="col-md-6">
          <p class="textAboutUs">At RemideMe, we are dedicated to providing innovative and compassionate solutions for Alzheimer's patients and their caregivers. Our mission is to enhance the quality of life for those affected by Alzheimer's by offering effective, user-friendly tools and resources.
            Founded with a passion for making a positive impact, RemideMe has become a trusted name in Alzheimer's care. We pride ourselves on our commitment to support and assist both patients and caregivers, ensuring that they have access to the best possible care and information. Our team of experts continuously works to develop and improve our services, ensuring they meet the highest standards of quality and reliability.</p>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <h3 class="textAboutUs">Our core values of compassion, innovation, and support drive everything we do. We believe in creating lasting relationships with our users by providing exceptional service and understanding their unique needs. Your feedback is invaluable to us, and we are always here to listen and improve.
            Thank you for choosing RemideMe. We look forward to being a part of your journey and supporting you every step of the way.</h3>
        </div>
      </div>
      <div class="row justify-content-center mt-5">

        <div class="col-md-10">
<h3 class="titleTwo">We Are Help To Make Innovative Solutions For Your Better Health.</h3>
<app-card></app-card>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-md-8 d-flex align-items-center">
          <h6 class="titleTwo">Your Health Is Important To Us. Don't Wait Until It's Too Late, Call Us Today To Schedule Your Check-Up And Stay On Top Of Your Health. Book Appointment.</h6>
        </div>
    </div>
  </div>
</div>
