.docImg {
  width: 136px;
  border-radius: 25px;
  border: .6px solid #676767c4;
  overflow: hidden;
  height:7rem;
}


@media (max-width:540px) {
  .docImg{
      flex-direction: column;
  }
}

.search-form {

  width: 100%;
  height: 40px;
  border-radius: 40px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);

  background: #fff;
  transition: all 0.3s ease;

  &.focus {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {


  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 95%;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
      appearance: none;
  }
}

.search-button {


  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.disabled {
  color: grey;
  pointer-events: none;
}
