.card {
  height: 254px;
  width: 190px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  overflow: hidden;
}

/*Image*/
.card-image {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-position: center;
}

/*Description */
.card-description {
  display: flex;
  position: absolute;
  gap: 0.5em;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #212121;
  height: 65%;
  width: 100%;
  bottom: -65%; /* Initially hidden below the card */
  border-radius: 16px;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
}

/*Text*/
.text-title {
  font-size: 1.3rem;
  font-weight: 700;
 
}

.clr{
  color: #150332;
 

}
.clr:hover{
  color: #150332;
  background-color: #c8b2e9;
  font-weight: bold;
  font-size: 1rem; 

}
.clrr{
 color: #150332;
  /* background-color: #c8b2e9; */
  font-weight: bold;
  font-size: 1rem; }

.text-body {
  font-size: 1rem;
  line-height: 130%;
}

/* Hover states */
.card:hover .card-description {
  transform: translateY(-100%);
}

.main-border {
  /* border: 2px solid #007bff;
  background-color: #007bff; */
  color: #fff;
  cursor: pointer;
}

.main-border:hover {
  background-color: #664b92;
  /* border-color: #0056b3; */
  color: #d0d0d0;
}
.back-button {
  /* top: 20px;
  left: 20px; */
  background-color: var(--bg-Color);
  color: rgb(19, 1, 21);

}

.center{
  text-align: center;
  
}