<section class="landing position-static">
  <div class="container-fluid landingContain d-flex justify-content-between align-items-center">
    <div class="landingLeft w-50">
      <h1>RemindMe</h1>
      <br>
      <h1 class="landingTitle">Get Ready for Best Alzheimer's Vaccination</h1>
      <p class="lead fw-bold text-secondary my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A unde minus
        tempore! Ullam libero eum hic officiis? Aspernatur, reiciendis rerum
        soluta ullam repellat odit perspiciatis tenetur aliquid. Distinctio,
        facere quisquam.
      </p>
      <div class="text-center w-75 m-auto mt-4">
        <h3>Join As</h3>
        <button class="btn registerBtn w-75 my-2" routerLink="/registerDoctor">
          Doctor
        </button>
        <button class="btn registerBtn w-75 my-2" routerLink="/registerRelative">
          Relative
        </button>
      </div>
      <div>
        <ul class="banner-btn-with-info">
          <li class="drBanner rounded-circle">
            <img src="../../../assets/jpeg/info1.jpg" alt="image" class="rounded-circle" width="100%" />
          </li>
          <li class="drBanner rounded-circle">
            <img src="../../../assets/jpeg/info2.jpg" alt="image" class="rounded-circle" width="100%" />
          </li>
          <li class="drBanner rounded-circle">
            <img src="../../../assets/jpeg/info3.jpg" alt="image" class="rounded-circle" width="100%" />
          </li>
          <li class="drBanner rounded-circle">
            <img src="../../../assets/jpeg/info4.jpg" alt="image" class="rounded-circle" width="100%" />
          </li>
          <li class="plusBanner rounded-circle d-flex align-items-center justify-content-center fw-bolder text-white " routerLink="/browseDoctors">
            <i class="fa-solid fa-plus "></i>
          </li>
          <li class="title fs-5"><span>67.54k</span> Vaccination Recipient</li>
        </ul>
      </div>
    </div>
    <div class="landing-Img w-50">
      <img src="../../../assets/Svgs/landing.svg" alt="landingImage" width="100%" />
    </div>
  </div>
</section>
