.landing{
    background-color: var(--bg-Color);
    height: 100vh;
    background: center no-repeat url("../../../assets/jpeg/map.jpg");
    background-position: center;
    padding: 20px;
}
.landingContain{
    margin-top: 50px;
}
.landingTitle{
    font-size: 45px;
    font-weight: bolder;
    line-height: 1.3;
    color: var(--dark-blue);
}
.registerBtn{
    background-color: var(--main-Color);
    width: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.banner-btn-with-info{
    display: flex;
    padding-left: 0;
    align-items: center;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 0;
}
.drBanner{
    width: 70px;
    display: inline-block;
    margin-right: -20px;
    border: 5px solid white;
}
.plusBanner{
    background-color: var(--bg-Color);
    height: 70px;
    width: 70px;
    border: 5px solid white;
    cursor: pointer;
}
.title{
    vertical-align: middle;
    color: var(--dark-blue);
    margin-left: 30px;
    margin-right: 0;
    font-size: 40px;
    font-weight: 500;
}
@media (max-width:990px) {
    .landing-Img{
        display: none;
    }
    .landingLeft{
        width: 100% !important;
    }
}