body{
  font-family: "Roboto", sans-serif;;
}




.title{
  display: flex;
  align-items: baseline;
  margin: 0;
  /* height: auto; */
  gap: 0 5px;
  justify-content: left;
}




.container-fluid{
  background-color: #d3d1de;
  /* height: 100%; */
}


.mainContent{
/* width: 64.5rem; */
padding: 5px;
z-index: 999;
}


.mainContent .profile{
  margin-top: 5px;
  background-color: #ffff;
  /* border: 1px solid #a7a4b6; */
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  /* width: 100%; */
  /* height: 42rem; */
  height: auto;

}



.mainContent .profile .DocProfilePic{
  width: 8rem;
  height: 8rem;
  border: 3px solid #c2c0c9;
  border-radius: 50%;
}

.DocProfileDetals{
  display: flex;
  justify-content: space-between;
}


.btns{
  display: flex;
  justify-content: right;

  align-items: center;
  gap: 0 10px;
}


.btn{
  /* width: 10rem; */
  height: 2.5rem;
  text-align: center;
  background-color: var(--dark-blue);
  color: #ffff;
  gap: 5px;
  align-items: baseline;
}

.secBtn{
  /* width: 4rem; */
  height: 2.5rem;
  background-color:#c5c4cd;
  color: var(--dark-blue);
}


.doctorTitel{
  margin-top: 15px;
  }

  .subTitel{
    color: #333;
    font-size: 1.3rem;
  }
  .location{
    color: #333;
  }

.thirdBtn{
  background-color: #a7a4b6;
  color: var(--dark-blue);
  padding: 10px 1rem;
  margin: 0.7rem;
  border-radius: 1rem;

}
.thirdBtn:hover,
.thirdBtn:focus{
  border: 1px solid var(--dark-blue);
  background-color:#ffff;
  transition: 0.3s ease-in-out;
}

.avTitle{
  font-size: 1.2rem;
  padding-left: 25px;
}

.doctorDesc{
  margin-top: 15px;
  padding: 15px;

}

.avaliablity,.doctorDesc{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffff;
  border: 1px solid #a7a4b6;
  border-radius: 15px;
  padding:15px  40px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  /* width: 100%; */
  height: auto;

  /* height: 57.563rem; */
}



.rating{
  gap: 10px;
}

.doctoravaliablity{
display: flex;
justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffff;
 align-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
}


/* .calender{
  font-size: 1rem;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  text-align:center;
  align-content: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 5px;

} */


.calendar {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.calendar strong {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.calendar div {
  margin: 5px 0;
}





@media (max-width: 991.98px) {
  /* .sideBar {
    display: none;
  } */

  .DocProfilePic {
    width: 80px;
    height: 80px;
  }

  .btns button {
    padding: 10px;
    /* padding: 0.4rem; */
    font-size: 0.875rem;
    /* width: fit-content; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;

  }
}

/* @media(max-width:1368px){
  .sideBar{
    display: none;
    visibility: none;
  }
} */


@media screen and (min-width: 1024px) {

.sideBar{
  
  overflow: hidden;
}

.mainContent{
  margin-left: 25px;
}


}
