<div class="menu">
  <ul>

    <li>
      <a  routerLink="/dashbaord"  routerLinkActive="active">

        <i class="fa-regular fa-calendar"></i>
        <p>Dashboard</p>
      </a>
    </li>


    <!-- <li>
      <a  routerLink="/Admindashboard"  routerLinkActive="active">

        <i class="fa-regular fa-calendar"></i>
        <p>Doctor Dashboard</p>
      </a>
    </li> -->

    <li *ngIf="isAuthorizedToReserve">
      <a routerLink="/appointmentTimes"  routerLinkActive="active">
        <i class="fa-solid fa-clock"></i>
        <p>Visits</p>
      </a>
    </li>
    <!-- <li>
      <a  routerLink="/Prescriptions"  routerLinkActive="active">

        <i class="fa-solid fa-file-medical"></i>
        <p>Prescriptions</p>
      </a>
    </li> -->
    <!-- <li>
      <a  routerLink="/AcceptedAppointmets"  routerLinkActive="active">

        <i class="fa-solid fa-file-invoice"></i>
        <p>Week Appointments</p>
      </a>
    </li> -->
    <!-- <li>
      <a  routerLink="/Message"  routerLinkActive="active">

        <i class="fa-regular fa-message"></i>
        <p>Message</p>
      </a>
    </li> -->
    <!-- <li>
      <a  routerLink="/Setting"  routerLinkActive="active">

        <i class="fa-solid fa-gear"></i>
        <p>Setting</p>
      </a>
    </li> -->

    <!-- <li>
      <a routerLink="/DoctorDashboard/PatientsRequests"  routerLinkActive="active">

        <i class="fa-solid fa-clock"></i>
        <p>Patients Requests</p>
      </a>
    </li> -->
    <li>

      <!-- <li>
        <a routerLink="/DoctorDashboard/AppointmentsRequests"  routerLinkActive="active">

          <i class="fa-solid fa-clock"></i>
          <p>Appointments Requests</p>
        </a>
      </li> -->
      <li>


    <!-- <li class="Logout">
      <a  routerLink="/landingpage"  routerLinkActive="active">

        <i class="fa-solid fa-right-from-bracket"></i>
        <p>Logout</p>
      </a>
    </li> -->
  </ul>


   </div>

