
<footer class="text-center text-lg-start bg-body-tertiary text-muted position-static">

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            <img src="assets/logo.svg" alt="logo" id="about-us" class="logo">Remind me
          </h6>
          <p>
            We prioritize your health with personalized care and the latest medical advancements.
            Our experienced team is dedicated to providing exceptional and accessible healthcare for everyone.</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Our services
          </h6>
          <p>
            <a href="#!" class="text-reset">Doctors</a>
          </p>
          <p>
            <a href="#!" class="text-reset">help</a>
          </p>
          <p>
            <a href="#!" class="text-reset">About us</a>
          </p>

        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Games</a>
          </p>
          <p>
            <a href="#!" class="text-reset"></a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase fw-bold mb-4" id="contact-us">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Minia,Egypt</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Remindme.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +20 105698745</p>
          <p><i class="fas fa-print me-3"></i> +20 118742656</p>
        </div>

      </div>

    </div>
  </section>



  <div class="text-center p-4" style="background-color:var(--bg-Color)">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://fa-google">Remindme</a>
  </div>

</footer>

