

<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/doctor4.PNG" class="card-img-top" alt="doctor"/>
        <div class="card-body">
          <a href="#" class="text-decoration-none">
             <a routerLink="/profile/:id"><h5 class="text-center cardTitle">Dr. Ahmed Ezzat</h5></a>
          </a>
        </div>
        <div class="links d-flex justify-content-center mb-3">
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/doctor5.PNG" class="card-img-top" alt="doctor"/>
        <div class="card-body">
          <a href="#" class="text-decoration-none">
            <a routerLink="/profile/:id"><h5 class="text-center cardTitle">Dr. Nour Mohamed</h5></a>
          </a>
        </div>
        <div class="links d-flex justify-content-center mb-3">
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/doctor1.PNG" class="card-img-top" alt="doctor"/>
        <div class="card-body">
          <a href="#" class="text-decoration-none">
            <a routerLink="/profile/:id"><h5 class="text-center cardTitle">Dr.Kholoud Fathy</h5></a>
          </a>
        </div>
        <div class="links d-flex justify-content-center mb-3">
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/doctor2.PNG" class="card-img-top" alt="doctor"/>
        <div class="card-body">
          <a href="#" class="text-decoration-none">
            <a routerLink="/profile/:id"><h5 class="text-center cardTitle">Dr. Bahier Maged</h5></a>
          </a>
        </div>
        <div class="links d-flex justify-content-center mb-3">
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="mx-2 text-reset link">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>










