
<div class="back-arrow-container">
  <button class="btn btn-secondary back-button mt-2" onclick="history.back()">
    <i class="fas fa-arrow-left"></i>
</button>
</div>

<h2 class="mt-2 reserve">Reserve Your Appointment: </h2>



<div class="container my-4" *ngIf="availableAppointments.length">
  <div class="row">
    <div *ngFor="let appointment of availableAppointments" class="col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="day-column h-100">
        <div class="day-header">{{ appointment.date | date: 'EEEE, MMMM d, y' }}</div>
        <div *ngFor="let slot of appointment.availableSlots" class="time-slot" (click)="bookAppointment(appointment.date, slot.startTime)">
          {{ slot.startTime }} - {{ slot.endTime }}
        </div>
      </div>
    </div>
  </div>
</div>

