.container {
  background-color: #fff;
  padding: 48px;
  border-radius: 20px;
}
.hangman {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-danger {
  color: red;
}


/* arrow Left */
.back-button {
  top: 20px;
  left: 20px;
  background-color: var(--bg-Color);
  color: rgb(19, 1, 21);

}
