<div class="alzheimers-info">
  <h2>What about Fun ?! Let's Play... </h2>
  <div class="cards-container">
      <div class="cardInfo ">
        <a routerLink="/xo">
          <img [src]="xoImage" alt="Build Immunity">
          <br>
          <h2>Noughts & Crosses</h2>
        </a>
      </div>
      <div class="cardInfo ">
        <a routerLink="/hangman">
          <img [src]="hangmanImage" class="docImg2" alt="Strengthen the Body's">
          <br>
          <h2>Hangman</h2>
        </a>
      </div>
      <div class="cardInfo ">
        <a routerLink="/memorycards">
        <div class="center me-2">  <img [src]="memoryCardsImage" class="docImg" alt="Stop Spread of Disease"></div>
         <h2 class="me-5 ">Memory Cards</h2>
        </a>
      </div>

  </div>
</div>
