
/* new */
*{
    padding: 0;
    margin: 0;
    color: #fff;
  
  }
  
  
  .menu
  {
    /* width: 250px; */
    height: 100%;
    padding: 20px;
    background-color: #afa3b4;
    transition: 0.4s;
  }
  
  
  
  ul{
    list-style: none;
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  
  ul li a{
    text-decoration: none;
    display: block;
  
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    /* background-color: red; */
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 0.4s;
  }
  
  ul li a i{
    font-size: 25px;
    text-transform: capitalize;
  }
  
  
  ul li a:hover,.active{
    background-color: #ffffff55;
  }
  
  .Logout a{
    background-color: rgb(227, 93, 93);
  }
  
  
  @media screen and (max-width:700) {
    
  }
  