<div class="menu">
    <ul>
  
     
  
  
      
     
  
      <li>
        <a routerLink="/DoctorDashboard/PatientsRequests"  routerLinkActive="active">
  
          <i class="fa-solid fa-clock"></i>
          <p>Patients Requests</p>
        </a>
      </li>
      <li>
  
        <li>
          <a routerLink="/DoctorDashboard/AppointmentsRequests"  routerLinkActive="active">
  
            <i class="fa-solid fa-clock"></i>
            <p>Appointments Requests</p>
          </a>
        </li>
        <li>
  
          
          <li>
            <a  routerLink="/AcceptedAppointmets"  routerLinkActive="active">
      
              <i class="fa-regular fa-calendar"></i>
              <p>Accepted Appointments</p>
            </a>
          </li>
   
    </ul>
  
  
     </div>
  
  