<div class="container mt-4">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <!-- <button class="btn btn-purple btn-md ms-5 my-4"  (click)="navigateToAdd()">
    Add Test <i class="fa-solid fa-square-plus"></i>
  </button> -->
  
  <button type="button" class="button" (click)="navigateToAdd()">
    <span class="button__text">Add Item</span>
    <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
  </button>
  
  <div class="row row-cols-1 row-cols-sm-2">
    <ng-container *ngIf="tests.length > 0; else noTests">
      <div class="col mb-4 d-flex justify-content-center" *ngFor="let test of tests">
        <div class="card">
          <div class="upper-part">
            <div class="upper-part-face">
              <h5 class="clrr fw-bold">{{ test.title }}</h5>
            </div>
            <div class="upper-part-back">
              <div class="d-flex justify-content-end align-items-center mb-2">
                <button class="btn clr me-2 " (click)="navigateToEdit(test.testId)">
                  Edit <i class="fas fa-edit"></i> <!-- Edit icon -->
                </button>
                <button class=" fs-4 btn p-0 mb-3 mt-3 clr " (click)="deleteTest(test.testId)">
                  Delete <i class="fa-solid fa-trash-can text-danger"></i>
                </button>
              </div>            </div>
          </div>
          <div class="lower-part">
            <div class="lower-part-face">
              <p class="clrr text-Danger">Degree: {{ test.testDegree }}</p>
            </div>
            <div class="lower-part-back">
              <p class="clrr text-Danger">Degree: {{ test.testDegree }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #noTests>
    <div class="col">
      <div class="alert alert-info text-center">
        No tests available.
      </div>
    </div>
  </ng-template>
</div>
