<section class="Rest">
    <div class="RestForm w-75 m-auto bg-white  p-5">
     
        <p class="lead fw-bolder text-black-50">Forgot your password? Please enter your username or email address. You will receive a link to create a new password via email.
        </p>
        <form action="" class="mx-4 mt-2">
            <div class="">
                <label for="email">Email Address</label>
                <input id="email" type="email" class="form-control my-3">
            </div>
            <button class="btn btnRest" type="submit">Rest Password</button>
        </form>
    </div>
</section>