.Rest{
    margin: 100px 0;
}
.RestForm {
    border: 1px solid transparent; 
    transition:  .7s ease-in-out; 
    border-radius: 7px;
    border: 1px solid transparent; 
    box-shadow: 0 0 7px 6px #00000030;
}
.RestForm:hover {
    border: 1px solid var(--main-Color); 
    box-shadow: 0 0 0 0 #00000000;
}
.btnRest{
    background-color: var(--main-Color);
    color: white;
}
.signUp{
    color: var(--primary-Color);
}